body {
  background: #f5f6fa;
}

.button {
  background: #7f8ff4;
  padding: 8px 36px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.wrapper {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.wrapper__input-number {
  border: none;
  width: 120px;
  height: 15px;
  font-size: 12px;
  border-radius: 2px;
  padding: 10px 18px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  color: #a3a3a3;
  font-size: 13px;
  margin: 0 5px;
}

.wrapper__button {
  vertical-align: bottom;
  margin-left: 5px;
}

.wrapper__winner {
  min-height: 60px;
  line-height: 60px;
  margin-top: 12px;
}

.winner {
  color: #8e8e8e;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

.matches__match {
  display: inline-block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  margin: 7px;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.matches__match.not-played {
  border: 7px solid #ccc;
}

.matches__match.played {
  border: 7px solid #c47ff4;
}

.matches__match.finished {
  border: 7px solid #c47ff4;
  background: #c47ff4;
}

.loader {
  border: 10px solid #ccc;
  border-top: 10px solid #fd6b7f;
  border-radius: 50%;
  display: inline-flex;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
